<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ingredientName ? ingredientName : 'New Ingredient'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-ingredient-details">
  <form *ngIf="ingredient" [formGroup]="ingredientForm" (ngSubmit)="updateIngredient()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name" *ngIf="!ingredientName || ingredientName.length === 0"></ion-input>
      <ion-input readonly type="text" formControlName="name" *ngIf="ingredientName && ingredientName.length > 0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input type="number" step="0.01" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Unit</ion-label>
      <ion-input type="text" formControlName="unit"></ion-input>
    </ion-item>
    <button class="submit" ion-button type="submit" [disabled]="!ingredientForm.valid">Save</button>
  </form>
</ion-content>
