<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ingredients</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showDetails()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-ingredients">

  <ion-list>
    <ion-item-sliding #item *ngFor="let ingredient of ingredients">
      <ion-item>
        <ion-grid>
          <ion-row center>
            <ion-col width-50>{{ingredient?.name}}</ion-col>
            <ion-col width-25>{{ingredient?.quantity}}</ion-col>
            <ion-col width-25>{{ingredient?.unit}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (tap)="showDetails(ingredient?.name, item)">Edit</button>
        <button ion-button color="danger" (tap)="removeIngredient(ingredient?.name, item)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p class="last-update">Last updated: {{lastUpdate}}</p>
</ion-content>
