<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recipes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showDetails()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-recipes">

  <ion-list>
    <ion-item *ngFor="let recipe of recipes" (tap)="showDetails(recipe?.name)">
      {{recipe?.name}}
    </ion-item>
  </ion-list>

  <p class="last-update">Last updated: {{lastUpdate}}</p>
</ion-content>
