<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{recipeName ? recipeName : 'New Recipe'}}</ion-title>
        <ion-buttons end *ngIf="recipeName">
          <button ion-button icon-only (tap)="removeRecipe()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="page-recipe-details">
    <form *ngIf="recipe" [formGroup]="recipeForm">
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" formControlName="name" *ngIf="!recipeName || recipeName.length === 0"></ion-input>
            <ion-input readonly type="text" formControlName="name" *ngIf="recipeName && recipeName.length > 0"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Procedures</ion-label>
            <ion-textarea clearInput rows="10" formControlName="procedures"></ion-textarea>
        </ion-item>
    </form>
    <ion-grid *ngIf="recipe" class="ingredients">
      <ion-row>
        <span>Ingredients</span>
        <span>
          <button ion-button icon-only (tap)="addIngredient()" type="button">
            <ion-icon name="add"></ion-icon>
          </button>
        </span>
      </ion-row>
      <ion-row *ngFor="let ingredientForm of ingredientForms; let i=index">
        <ion-col>
          <ion-input class="input-name" type="text" [(ngModel)]="ingredientForm.name" placeholder="Name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input class="input-quantity" type="tel" [(ngModel)]="ingredientForm.quantity" placeholder="Quantity"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input *ngIf="!ingredientDefinition[ingredientForm.name]" class="input-unit" type="text" [(ngModel)]="ingredientForm.unit" placeholder="Unit"></ion-input>
          <ion-input *ngIf="ingredientDefinition[ingredientForm.name]" class="input-unit" type="text" placeholder="Unit" value="{{ingredientDefinition[ingredientForm.name]}}" disabled></ion-input>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (tap)="removeIngredient(i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button (tap)="updateRecipe()">Save</button>
</ion-content>
