<div class="water-level">
  <p class="today">{{waterLevelInfo?.thisDate}}</p>
  <ion-segment [(ngModel)]="period" class="water-level-selector">
    <ion-segment-button value="today">
      Today
    </ion-segment-button>
    <ion-segment-button value="yesterday">
      Yesterday
    </ion-segment-button>
    <ion-segment-button value="lastyear">
      Last Year
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="period" class="water-level-content">
    <ion-grid *ngSwitchCase="'today'">
      <ion-row>
        <ion-col width-50>
          <p class="water-level-percentage">{{waterLevelInfo?.levelTodayPercent | decimal}}%</p>
          <p class="water-level-gl">{{waterLevelInfo?.levelTodayGL / 1000 | decimal}} billion litres</p>
        </ion-col>
        <ion-col width-50>
          <p>Since yesterday</p>
          <p>{{waterLevelInfo?.changeYesterdayPercent | decimal}}%</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'yesterday'">
      <ion-row>
        <ion-col width-50>
          <p class="water-level-percentage">{{waterLevelInfo?.levelYesterdayPercent | decimal}}%</p>
          <p class="water-level-gl">{{waterLevelInfo?.levelYesterdayGL / 1000 | decimal}} billion litres</p>
        </ion-col>
        <ion-col width-50>
          <p>{{waterLevelInfo?.changeYesterdayPercent <= 0 ? 'More' : 'Less'}} than today</p>
          <p>{{(waterLevelInfo?.changeYesterdayPercent <= 0 ? waterLevelInfo?.changeYesterdayPercent * -1 : waterLevelInfo?.changeYesterdayPercent) | decimal}}%</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'lastyear'">
      <ion-row>
        <ion-col width-50>
          <p class="water-level-percentage">{{waterLevelInfo?.levelLastYearPercent | decimal}}%</p>
          <p class="water-level-gl">{{waterLevelInfo?.levelLastYearGL / 1000 | decimal}} billion litres</p>
        </ion-col>
        <ion-col width-50>
          <p>{{waterLevelInfo?.changeLastYearPercent <= 0 ? 'More' : 'Less'}} than today</p>
          <p>{{waterLevelInfo?.changeLastYearPercent * -1 | decimal}}%</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
